In [ ]:
# 패키지 임포트
import pandas as pd

# 데이터 불러오기
train = pd.read_csv('train.csv', index_col=0)
test = pd.read_csv('test.csv', index_col=0)
sample_submission = pd.read_csv('sample_submission.csv', index_col=0)

# Train 데이터의 타입을 Sample_submission에 대응하는 가변수 형태로 변환
column_number = {}
for i, column in enumerate(sample_submission.columns):
    column_number[column] = i
    
def to_number(x, dic):
    return dic[x]

train['type_num'] = train['type'].apply(lambda x : to_number(x, column_number))

# 모델에 적용할 데이터 셋 준비 
train_x = train.drop(columns=['type', 'type_num'], axis=1)
train_y = train['type_num']
test_x = test

In [ ]:
# 이중for문으로 만들어야함(열 for문으로 넣고 그 안에 행에대한 for문 삽입)

def outlier_to_iqr(x):
    for col in range(0, len(x.columns)-1, +1):
        Q1, Q3 = np.percentile(x.iloc[:, col:col+1], [25, 75])        # 열 길이로 변경(현재는 행길이로 되어있음)
        for idx in range(0, len(x)-1, +1):
            if x.iloc[idx, col:col+1] < Q1:                           # 25% 위치의 값보다 작다면
                x.replace({col:x.iloc[idx, col:col+1]}, {col:Q1})     #replace q1값으로
            elif x.iloc[idx, col:col+1] > Q3:                         # 75% 위치의 값보다 크다면
                x.replace({col:x.iloc[idx, col:col+1]}, {col:Q3})     #replace q3값으로

## 연습

In [1]:
import pandas as pd
X = [[1,2,3,4,5],
    [2,3,4,5,6],
    [4,5,6,7,8],
    [3,4,5,6,7],
    [100,200,300,400,500]]

X = pd.DataFrame(X)
X

     0    1    2    3    4
0    1    2    3    4    5
1    2    3    4    5    6
2    4    5    6    7    8
3    3    4    5    6    7
4  100  200  300  400  500

In [2]:
import numpy as np
Q1, Q3 = np.percentile(X.iloc[:, 0:1], [25, 75])
Q1, Q3

(2.0, 4.0)

In [6]:
X.replace({0:X.iloc[0, 0:1]}, {0:Q1})

     0    1    2    3    4
0    2    2    3    4    5
1    2    3    4    5    6
2    4    5    6    7    8
3    3    4    5    6    7
4  100  200  300  400  500

In [7]:
X.iloc[4, 0:1].astype('float32')

0    100.0
Name: 4, dtype: float32

In [10]:
X.replace({0:X.iloc[4, 0:1].astype('float32')}, {0:Q3})

     0    1    2    3    4
0    1    2    3    4    5
1    2    3    4    5    6
2    4    5    6    7    8
3    3    4    5    6    7
4  100  200  300  400  500

In [11]:
Q3

4.0